extends components/layout.pug

block extra-head
    script(src="/matter.min.js")
    script(src="/physics-simulation.js")

block content
    include components/simulation-window.pug

block footer
    //- script.
    //-     setup()

        
