@font-face {
  font-family: GEORGEA;
  src: url(../fonts/GEORGEA.otf);
}
h1 {
  font-family: GEORGEA, Helvetica, sans-serif;
  color: #F77754;
}

body {
  margin-top: 80px;
  background-color: #2B2726;
  color: white;
}

.phyroom-button {
  font-family: GEORGEA, Helvetica, sans-serif;
  border-radius: 20%;
  background-color: #F77754;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
#description {
 color: white;
  font-family: arial black;
 font-size: 20;
  margin-left: 15px;
  }
  #instructions {
   font-family: arial black;
    color: rgb(247,119,84);
    margin-left: 15px;
  }
  .divisions {
   margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
   width:95%;
   height:auto;
  border:3px solid rgb(247,119,84);
         }
.headings_small {
  text-decoration: underline;
  color: rgb(247,119,84);
  margin-top: 10px;
  font-family: arial black;
  text-align: center;
  font-size: 18px;
         }