@import "master.sass"

// Scrollbar
::-webkit-scrollbar
    width: 10px

// Track
::-webkit-scrollbar-track
    background: #f1f1f1

// Thumb
::-webkit-scrollbar-thumb
    background: #888

::-webkit-scrollbar-thumb:hover
    background: #555