@import "master.sass"

#simulation-window
    margin: 0
    padding: 0
    width: 100%
    height: 525px

    background-color: black

    display: grid
    grid-template-columns: auto

    overflow: hidden

#simulation-window > iframe
    margin: 0
    padding: 0
    width: 100%
    height: 100%

    overflow: hidden